@import "mixin";
.header{
  padding: 0;
  margin: 0;
  
  &__promo{
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    margin: 0;
    height: 25px;
    text-align: center;  
    background: #2f2f2f
  }
  
  &__info{
   color: white;
   font-size: 11px;
   line-height: 2em;
   width: 100%;
  }
}  
nav {  
  background: white;
  padding: 5px 20px ;
  font-family:'Lucida', serif;
 
  ul { 
    list-style-type: none; 
    li { font-size: 16px; padding: 15px 5px; white-space: nowrap; 
      a { color: black; text-decoration: none;text-transform: uppercase; font-weight: 700;
        &:hover { text-decoration: underline; }
      }
     }  
    .logo{
      a{font-weight: bold;letter-spacing: 0.5em; font-size: 1.5em;
          &:hover { text-decoration: none; } 
        }
    }
    .btn-primary{
      @extend a ;
      border-color:transparent;
      background-color: transparent;
    }
     
    .toggle a { font-size: 1.5em; } 
    .button.secondary { border-bottom: 1px #444 solid; }
    
  
  } 
  
} 
