@import "mixin";


/*promos*/


.promo {
    padding-top: 88px;
    display: block;
    position: relative;
    box-sizing: border-box;
  }
    .promo_container {
     margin-top: 75px;
     margin-bottom: 75px;
    }

    .promo .container {
     max-width: 1170px;
     position: relative;
     margin: auto;
     box-sizing: border-box;
    }
  
  
   .col, .col-lg-4 {
     flex-basis: 0;
     flex-grow: 1;
     position: relative;
     min-height: 1px;
    }
  
  .section_title_container {
    text-align: center;
  }
  .section_subtitle {
    font-size: 14px;
    font-weight: 600;
    color: #be8158;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .section_title {
    @include estiloTitulos (black, 60px);
    margin-top: -4px;
  }
  
  .promo_item  {
    width: 100%;
    
  }
  
  .promo_image {
    width: 100%;
    height: 400px
  }
  
  .promo_image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    
  }
  
  
  .promo_content {
    position: absolute;
    top: 43.6%;
    z-index: 1;
    font-family: 'Lucida', serif;
  }
  
  .promo_content_1 {
    right: 0;
    text-align: right;
    padding-right: 14px;
    
  }
  .promo_title {
    @include estiloTitulos (#FFFFFF, 30px);
    
  }
  .promo_subtitle {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -3px;
  }
  .promo_link {
    width: 100%;
    height: 60px;
    background: #2f2f2f;
    text-align: center;
    transition: all 200ms ease;
  }
  .promo_link a {
    display: block;
    font-family: 'Lucida', serif;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 60px;
    transition: all 200ms ease;
  
    
  }
  .promo_link a:hover {
    color:rgb(151, 89, 44);
    -webkit-font-smoothing:antialiased;
    -webkit-text-shadowback: rgba(0,0,0,.01) 0 0 1px;
  
  }
  .promo_content_2 {
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(35, 35, 35, 0.63);
    padding-bottom: 9px;
    padding-top: 2px;
  }
  
  .promo_content_3 {
    top: 30%;
    left: 15px;
    background: #232323;
    padding-left: 10px;
    text-align: right;
    padding-right: 22px;
    padding-top: 39px;
    padding-bottom: 41px;
  }
  