<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/estiloscss.css">
    <link rel="stylesheet" href="../css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SYKO Venta Online">
    <meta name="keywords" content="Abrigos, camperas, buzos, sweaters, calzas, pantalones, demin, jeans, camisas, faldas, monos, pantalones, remeras, musculosas, tops, shorts, vestidos, accesorios, bijou, bolsos, calzado, cinturones, cintos, esmaltes, gorros, medias, bufandas, guantes, pañuelos, mujer, joven, niñas, nenas, indumentaria, ropa, moda">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">    
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Cormorant+Garamond:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    <title>Contáctenos</title>
  </head>
  <body>
    <header class="header"> 
      <div class="header__promo">
        <p class="header__info"> 3 cuotas sin interés con Visa, Mastercard y Cabal de CABA y GBA</p>
      </div>
  
      
      <nav> 
        <ul class="menu"> 
          <li class="logo"><a href="../index.html">SYKO</a></li> 
          <li class="item"><a href="../index.html">Home</a></li> 
          <li class="item"><a href="ss21.html">SS1</a></li> 
          <li class="item"><a href="newin.html">newin</a></li> 
          <li class="item"><a href="prendas.html">prendas</a></li> 
          <li class="item"><a href="contacto.html">contacto</a></li> 
          <li class="item button"><a href="#">Log In</a></li> 
          <li class="item button secondary"><a href="#">Sign Up</a></li> 
          <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li> 
        </ul> 
      </nav>
    </header> 

    

    <div class="contacto">
      <div class="contacto__contenido">
        <div class="contacto__division">CONTACTO</div>
        <div class="contacto__columna1">
          <span class="contacto__titulos">FORMULARIO</span><br>
          <span class="contacto__textos ">Contactate con nosotros</span>
          <form class="form">
            <input class="form__input" type="text"  placeholder="NOMBRE Y APELLIDO" name="form_contacto_nombre" required="">
            <input class="form__input" type="email" placeholder="EMAIL" name="form_contacto_email" required="">
            <input class="form__input" type="text"  placeholder="TEMA" name="form_contacto_tema" required="">
            <textarea  class="form__text"placeholder="MENSAJE" name="form_contacto_mensaje" required=""></textarea>
            <input class="form__button" type="submit" value="ENVIAR" name="formulario_contacto">
          </form>
            
        </div>
        <div class="contacto__columna2">
          <div class="contacto__linea"></div><br>
          <span class="contacto__titulos">HORARIO</span><br>
          <span class="contacto__textos ">Lunes a Viernes de 8:00 a 17:00<br>
            Sabados 8 a 12:00<br>
          </span>
          <br><br>
          <br><br>
          <span class="contacto__titulos">CONTACTO</span><br>
          <span class="contacto__textos" style="margin-top: 20px;">- Venta Online: Whatsapp (+54 +11) 3956-6798<br><br>- Morón 3134, Flores, CABA, Argentina<br>(5411) 3528-6209</span>
          
          <div class="mapa" style="margin-bottom: 40px;">
            <iframe class="mapa__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.1366472752325!2d-58.473440184102756!3d-34.62598696618502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc98dad6d444f%3A0xcf3b5bb09319b3a3!2sAvenida%20Avellaneda%20Tiendas%20De%20Ropa!5e0!3m2!1ses-419!2sar!4v1617306059847!5m2!1ses-419!2sar" width="100%" height="330" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
          
        </div>
      </div>
    </div>
    

    <!----CARD CON INFO COLLAPSE---->
    <div id="accordion" class="col-md-7 container ">
	    <div class="card">
	      <div class="card-header">
	        <a class="card-link" data-toggle="collapse" href="#collapseOne">
	          <strong>Comprar</strong>
	        </a>
	      </div>
	      <div id="collapseOne" class="collapse show" data-parent="#accordion">
	        <div class="card-body">
	          <strong>¿Cómo puedo comprar?</strong>

            <p>Podés adquirir nuestros productos vía online o en nuestro local</p>

            <strong>¿Cuál es la compra mínima?</strong>

            <p>La compra mínima es de $6.000.</p>

           <strong>¿Cómo comprar online?</strong>

           <p>1) Seleccioná los productos que desees comprar, sus colores y cantidades. </p>

           <p>2) Agregá los productos al carrito de compras. Cuando termines, hacé click en "Iniciar compra". Una vez concretado el pedido online no se aceptan modificaciones por ningún motivo.</p>

           <p>3) Completá tus datos de contacto y hacé click en "Continuar".</p>

           <p>4) Elegí el medio de pago y hacé click en "Continuar".</p>

           <p>5) Revisá toda la información de compra y completá los datos sobre la forma de pago elegida. Recordá que tenés hasta 2 días hábiles para realizar el pago, pasado el plazo se desestimará tu pedido.</p>

           <p>6) Vas a recibir un mail confirmando la compra (ese no será un comprobante de pago).</p>

           <p>7) Una vez acreditado el pago, haremos el envío de tu compra. Una vez despachado, la empresa no se hace responsable por demoras, siniestros o errores en la entrega sujetos a los datos ingresados en la compra.</p>

           <strong>¿Cuánto tiempo tarda en ser procesado mi pedido?</strong>

           <p>El tiempo aproximado de procesamiento de los pedidos hasta su despacho es de 48 a 96 horas hábiles desde el momento en que se acredita tu pago. Oportunamente te informaremos y serás notificado en caso de que los despachos se demoren.</p>
	        </div>
	      </div>
	    </div>
	    <div class="card">
	      <div class="card-header">
	        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
            <strong>Formas de pago</strong>
	      </a>
	      </div>
	      <div id="collapseTwo" class="collapse" data-parent="#accordion">
	        <div class="card-body">
	          <strong>¿Cuáles son los medios de pago disponibles?</strong>

           <p>Las compras se pueden abonar por medio de Depósito o Transferencia en cuenta bancaria, Mercado Pago (promociones bancarias a cargo de Mercado Libre S.A.), Débito o Efectivo (Exclusivo para Retiro en Local)</p>
	        </div>
	      </div>
	    </div>
	    <div class="card">
	      <div class="card-header">
	        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
	          <strong>Stock</strong>
	        </a>
	      </div>
	      <div id="collapseThree" class="collapse" data-parent="#accordion">
	        <div class="card-body">
	          <strong>¿Cómo saber si un producto que quiero está en stock?</strong>

           <p>Todos los productos publicados en la web están disponibles para la compra online, de lo contrario verás un aviso "sin stock" en el producto y no será posible seleccionarlo.</p>

           <strong>Cómo saber si vuelve a entrar un producto?</strong>¿

           <p>En el caso de que quieras un producto y marque "sin stock", podés apretar el botón "Avisame cuando haya stock" y te estaremos enviando un e-mail cuando el producto se reponga. </p>

           <strong>¿Qué pasa si compro un producto por la web y no hay stock de éste?</strong>

           <p>En <strong>SYKO</strong>> tratamos de mantener nuestro registro de stock sin errores y al día,  pero en caso de que suceda, alguien de nuestro equipo se contactará con vos para solucionar el inconveniente.</p>
	        </div>
	      </div>
	    </div>
	  </div>
    <!----FIN CARD CON INFO COLLAPSE---->
    
    <footer class="footer">
      <div class="footer__contenido">
        <div class="footer__columna1 black">#YOUR<br>6TH SENSE<br>OF FASHION</div>
        <div id="newsletter_row" class="footer__columna2">
          <form id="form_newsletter" name="form_newsletter" method="post">
            <strong>NEWSLETTER</strong><br>Enterate de nuestras últimas novedades!
            <input type="email" placeholder="EMAIL" name="formulario_newsletter_email" required="">
            <input type="button" value="REGISTRAR" name="formulario_newsletter" onclick="sendNewsletter();">
          </form>
        </div>
        <div class="footer__columna3">
          <span><strong>HORARIO</strong></span><br>
          LUNES A VIERNES DE 8:00 hs A 17:00hs<br>
          <br>
         SÁBADOS DE 8:00hs A 12:00hs<br>
        </div>
        <div class="footer__columna3">
          <span><strong>CONTACTO</strong></span>
          011 5365-7828<br>
          Helguera 656 Local 2, Flores,<br>
          CABA, Argentina				<br><br>
          011 5365-7028<br>
          Campana 778, Flores,<br>
          CABA, Argentina				<br><br>
          
        </div>
        
      </div>
    </footer> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../Js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>